html {
  background: #BBB;
  font-size: 16px;
  font-family: "Liberation Sans", Arial, sans-serif;
  margin: 0;
  padding: 0 5%;
  overflow: auto;
}

body {
  position: relative;
  background: #DDD;
  max-width: 800px;
  margin: 2em auto;
  padding: 2em;
  overflow: hidden;
  box-shadow: 1em 1em 2em rgba(0,0,0,.5);
}

h1 {
  font-size: 70px;
  line-height: 60px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 2em 0 1em 0;
}

header h1 small {
  font-size: 30px;
}
header h1 strong {
  color: #37A;
}

#file-list {
  list-style: none;
  padding: 0;
}
#file-list a, #show-file a {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  transition: .8s;
}
#file-list a:hover, #show-file a:hover {
  background: #58B;
  color: #FFF;
  transition: .1s;
}
#file-list a i, #show-file a i {
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  filter: brightness(.9);
}
#file-list .basename, #show-file .basename {
  line-height: 28px;
  margin-left: -4px;
  padding: 0 8px 0 4px;
}
#file-list .version {
  background: #888;
  color: #FFF;
  font-size: 13px;
  line-height: 24px;
  padding: 0 6px;
}

#pipeline-badge {
  position: absolute;
}

#site {
  display: none;
}

#repository {
  position: absolute;
  top: 28px;
  right: -84px;
  transform: rotate(45deg);
  font-size: 1px;
}
#repository a {
  font-size: 16px;
  font-weight: bold;
  display: block;
  background: #5C0;
  color: #060;
  text-shadow: 1px 1px 0 #BDA;
  border: 1px dashed #080;
  text-decoration: none;
  padding: 1px 90px;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}

#logo img {
  width: 60%;
}

p, li {
  line-height: 140%;
}

pre {
  padding: 1em;
  color: #EEE;
  background: #555;
  box-shadow: inset 0 0 1em #222;
  border-radius: 1em;
}

:not(pre) > code {
  background: #BBB;
  padding: 0 .3em;
  border-radius: .3em;
}

#file-browser footer {
  background: 100% -8px var(--logo);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  line-height: 24px;
  padding: 8px 60px 0 0;
}

footer {
  text-align: right;
  font-size: 12px;
  color: #222;
  opacity: .333;
  transition: 1s;
}
footer:hover {
  opacity: .9;
}

footer b {
  font-size: 14px;
  color: #A00;
}

footer a {
  color: #222;
  text-decoration: none;
}
